[% INCLUDE header %]
<div align ="left">
	<script src="[% java_script_location %]"></script>
	<noscript>This page does not decay graceful :-) - Please enable your java-script </noscript>
	<style type="text/css">
			table {table-layout:fixed; text-align:center; overflow:auto; border:0px black solid; width:95%; word-wrap:break-word; }
			table.borders {table-layout:fixed; text-align:center; overflow:auto; border:1px black solid; width:95%; word-wrap:break-word; }
			table td {text-align:center; border:0px black solid; }
	</style>
</div>
<div align="center">
	 <h3 id="stepx_title">= Calculation =</h3>	
<div id="confirm_species">	
	
</div>
	
</div>

<table id="data" style="display:none" >
</table>
<script type="text/javascript">
</script>


